.jumbotron {
	margin-top: 30px;
}

h1 {
	text-align: center;
}

body {
	background-image: url("https://media.tenor.com/images/6456ea89a19623f16b0904357213326f/tenor.gif"); {
		opacity: .3;
	}
	background-size: auto;

}

.row {
	min-height: 50px;
} 

#theform {
	clear: both;
	float: right;
	width: 20%;
}

.item {
	margin-left: 100px;
}

button.gif {
	padding: 10px;
}

label {
	color: black;
	font-size: 2em;
	background-color: white;
	border-radius: 3px;
	padding: 5px;
}